
.icon-phone:before { content: '\e800'; } /* '' */
.icon-chart-bar:before { content: '\e801'; } /* '' */
.icon-location-inv:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */